<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>课程详情</title>
    <link rel="stylesheet" href="../../dist/css/course/course_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1793468_l9gncs8rcy.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo_box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="#">创投咨询</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费咨询</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-yonghu iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>
<div class="main">
    <div class="course-nav">
        <div class="nav-container">
            <h3 class="title">在线课堂</h3>
            <ul class="nav-list">
                <li class="active"><a href="#">最新课堂</a></li>
                <li><a href="#">投资人说</a></li>
                <li><a href="#">明星案例</a></li>
                <li><a href="#">创业知识</a></li>
            </ul>
        </div>
    </div>
    <div class="wrapper">
        <div class="course-wrapper">
            <div class="course-info">
                <p class="course-title">
                    对赌是什么，该不该做对赌？
                </p>
                <div class="price-group">
                    <div class="share-group">
                        <span class="title">分享至：</span>
                        <a href="#" class="weixin share-item"></a>
                        <a href="#" class="weibo share-item"></a>
                    </div>
                    <div class="buy-group">
                        <!--<span class="price pay">￥49.0</span>
                        <a href="#" class="buy-btn">立即购买</a>-->
                        <span class="free">免费</span>
                    </div>
                </div>
            </div>
            <div class="video-group"></div>

        </div>
        <div class="bottom-wrapper">
            <div class="course-detail-wrapper">
                <div class="item-group">
                    <p class="item-title">课程讲师</p>
                    <div class="teacher-group">
                        <div class="avatar-group">
                            <img src="https://static-image.xfz.cn/1508120374_220.jpg" alt="">
                        </div>
                        <div class="teacher-info">
                            <p class="teacher-name">乔继英</p>
                            <p class="teacher-desc">小饭桌创始人CEO</p>
                        </div>
                    </div>
                    <p class="item-content">乔继英，专业投资人，一线基金董事总经理，十五年以上研发、市场销售、投资经验，投资领域覆盖天使投资、中早期风险投资、PE投资、并购、母基金FOF投资等领域。代表案例：华润凤凰（1515.HK）、微芯生物、二毛照护、九鼎美元基金等。个人间接投资摩拜单车、硅谷大数据公司Palantir等。曾在淡马锡祥峰投资、蓝驰创投、启迪创投等工作，世界五百强公司研发、市场销售主管。北京市高精尖产业基金评审组长、知名证券公司专业专家。清华大学本科、医学院博士、校友导师，曾与哈佛大学合作课题；香港中文大学金融MBA、客座讲师。</p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程简介</p>
                    <p class="item-content">课程简介待输入</p>
                </div>
                <div class="item-group">
                    <p class="item-title">课程大纲</p>
                    <p class="item-content">第一章。。。第二章。。。第三章。。。</p>
                </div>
                <div class="item-group">
                    <p class="item-title">适宜人群</p>
                    <p class="item-content">理财入门</p>
                </div>
                <div class="item-group">
                    <p class="item-title">帮助中心</p>
                    <p class="item-content">购买后.......</p>
                </div>
                <div class="item-group">
                    <p class="item-title">关于小饭桌在线课堂</p>
                    <p class="item-content">微信微博。。。。。。.</p>
                </div>
            </div>

            <div class="recommend-wrapper">
                <div class="recommend-list-wrapper">
                    <p class="label-title">推荐课程</p>
                    <ul class="recommend-list">
                        <li class="recommend-item">
                            <div class="item-info">
                                <p class="item-title">创业者的必修课，跟着CEO一起创业</p>
                                <p class="author">小饭桌CEO</p>
                            </div>
                            <div class="item-thumbnail">
                                <img src="https://static-image.xfz.cn/1554346383_8.png-course.list.small" alt="">
                            </div>
                        </li>
                        <li class="recommend-item">
                            <div class="item-info">
                                <p class="item-title">全球创业者大会即将召开</p>
                                <p class="author">小饭桌CEO</p>
                            </div>
                            <div class="item-thumbnail">
                                <img src="https://static-image.xfz.cn/1513753715_100.jpg-course.list.small" alt="">
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>

</div>

<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们：</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <div class="wx-qrcode"></div>
                                <span class="text">xfz008</span></li>
                            <li class="weibo"><span class="text">小饭桌创业课堂</span></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：中华人民共和国666号</p>
                    <p class="contact">联系方式：40151515</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        @2018 xxxxx有限公司 京ICP备21421u4912u0号-1
    </div>
</footer>

</body>
</html>