<div class="sidebar-wrapper">
    <div class="title-group">
        <span class="title">在线课堂</span>
        <a href="#" class="more">更多</a>
    </div>
    <div class="advertise-group">
        <a href="#"><img src="https://i.17173cdn.com/2fhnvk/YWxqaGBf/cms3/zHXcOCbohciakqj.jpg!a-3-240x.jpg"></a>
    </div>
    <div class="platform-group">
        <div class="title-group">
            <span class="title">关注小饭桌</span>
        </div>
        <div class="focus-group">
            <ul class="left-group">
                <li class="zhihu"><a href="#" target="_blank">小饭桌创业课堂</a> </li>
                <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a> </li>
                <li class="toutiao"><a href="#" target="_blank">小饭桌</a> </li>
            </ul>
            <div class="right-group">
                <p class="desc">
                    扫码关注公众号66666666666
                </p>
            </div>
        </div>

    </div>
    <div class="hot-news-group">
        <div class="title-group">
            <span class="title">热门推荐</span>
        </div>
        <ul class="hot-list-group">
            <li>
                <div class="left-group">
                    <p class="title">
                        <a>王健林卖掉海外进军首页项目的70亿...</a>
                    </p>
                    <p class="more">
                        <span class="category">深度报道</span>
                        <span class="time">一小时前</span>
                    </p>
                </div>
                <div class="right-group">
                    <a href="#"><img src="https://static-image.xfz.cn/1587720721_124.jpg-website.news.list"></a>
                </div>
            </li>
        </ul>
    </div>
</div>