{% extends 'base/front_base.html' %}
{% block title %}
    搜索
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/search/search_index.min.css' %}">
{% endblock %}
{% block main %}
    <div class="main">
        <div class="wrapper">
            <div class="main-content-wrapper">
                <div class="list-outer-group">
                    <div class="search-box">
                        <input placeholder="请输入关键字">
                        <a href="#" class="search-btn">搜 索</a>
                    </div>
                    <p class="list-title">热门推荐</p>
                    <ul class="list-inner-group">
                        <li>
                            <div class="thumbnail-group"><a href="#"><img src="https://pic4.zhimg.com/80/v2-d61d0a800c1af8cb5a49f23e7f1261f0_720w.jpg"></a></div>
                            <div class="news-group">
                                <p class="title"><a href="#">王健林卖掉进军海外首个项目：17亿售论文ONE六成股权</a></p>
                                <p class="desc">外界关于万达出售多级哦洒基的撒的消息一句也不振</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">业务机</span>
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail-group"><a href="#"><img src="https://pic4.zhimg.com/80/v2-d61d0a800c1af8cb5a49f23e7f1261f0_720w.jpg"></a></div>
                            <div class="news-group">
                                <p class="title"><a href="#">王健林卖掉进军海外首个项目：17亿售论文ONE六成股权</a></p>
                                <p class="desc">外界关于万达出售多级哦洒基的撒的消息一句也不振</p>
                                <p class="more">
                                    <span class="category">深度报道</span>
                                    <span class="pub-time">1小时前</span>
                                    <span class="author">业务机</span>
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            {% include 'common/sidebar.html' %}
        </div>
    </div>
{% endblock %}