<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新闻详情</title>
    <link rel="stylesheet" href="../../dist/css/news/news_detail.min.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1793468_l9gncs8rcy.css">
    <script src="../../dist/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="logo_box">
            <a href="/"></a>
        </div>
        <ul class="nav">
            <li class="active"><a href="#">创投咨询</a></li>
            <li><a href="#">创业课堂</a></li>
            <li><a href="#">付费咨询</a></li>
            <li><a href="#">搜索</a></li>
        </ul>
        <div class="auth-box">
            <i class="icon-yonghu iconfont"></i>
            <a href="#">登录</a> /
            <a href="#">注册</a>
        </div>
    </div>
</header>

<div class="main">
    <div class="wrapper">
        <div class="main-content-wrapper">
            <div class="news-wrapper">
                <h1 class="title">【小饭桌早报】京东618首日累计下单金额同比增长超80%；苏宁年中大促首日大数据：销售增长163%</h1>
                <div class="news-info">
                    <div class="info-group">
                        <span class="author">葫芦娃</span>
                        <span class="pub-time">06月03日</span>
                        <span class="category">热点</span>
                    </div>
                    <div class="share-group">
                        <span>分享至：</span>
                        <a href="#" class="weixin share-item"></a>
                        <a href="#" class="weibo share-item"></a>

                    </div>
                </div>
                <article class="article">
                    <img src="https://static-image.xfz.cn/1588213931_401.jpg" title="" alt="栏目名.jpg">
                    <span>
                        淘宝搜索电动牙刷，售价从9.9元到2499元不等。

不同于服装，电动牙刷属于极度标品，很难做出差异化，且制造结构非常简单，无非是电机、刷头、电池、模具，几乎不涉及高精尖的技术壁垒。

那为什么不同产品的价格会相差上百倍？

回答这个问题之前，我们可以先理清电动牙刷在中国的市场变化：2016年之前，飞利浦和欧乐B这两大品牌占据国内中高端市场的绝对份额，随后大批国内新品牌崛起抢占平价市场，才带动起整个电动牙刷供应链。

然而即便同为国内品牌，不同的产品也有十几倍的价格差异。但现实情况是，相较于欧美国家40-50%的普及率，而中国只有5%左右，市场潜力大，品牌野蛮发展，价格战成了品牌快速获取尝鲜的用户的制胜法宝。

这就造成了电动牙刷市场“有产品，无品牌”的局面，而且由于过度控制价格，很多卖家的毛利非常低，甚至是在亏钱卖，制造商反而成了整个产业链条中最挣钱的角色。

而坚持不打价格战的高端品牌此刻也处于进退两难的境地，
                    </span>
                </article>

            </div>
            <div class="comment-wrapper">
                <h3 class="title">文章评论（0）</h3>
                <textarea name="comment" id="" cols="30" rows="5" class="comment-textarea nologin-textarea" placeholder="立即登录，参与评论~" readonly></textarea>
                <div class="submit-btn-group">
                    <button class="submit-btn">立即评论</button>
                </div>
                <ul class="comment-list">
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1585559434_95.jpg" alt="" class="avatar">
                            <span class="author">某位读者</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">这是第一条评论</p>
                    </li>
                    <li>
                        <div class="comment-info">
                            <img src="https://static-image.xfz.cn/1585559434_95.jpg" alt="" class="avatar">
                            <span class="author">某位读者</span>
                            <span class="pub-time">1小时前</span>
                        </div>
                        <p class="comment-content">这是第一条评论</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="sidebar-wrapper">
            <div class="title-group">
                <span class="title">在线课堂</span>
                <a href="#" class="more">更多</a>
            </div>
            <div class="advertise-group">
                <a href="#"><img src="https://i.17173cdn.com/2fhnvk/YWxqaGBf/cms3/zHXcOCbohciakqj.jpg!a-3-240x.jpg"></a>
            </div>
            <div class="platform-group">
                <div class="title-group">
                    <span class="title">关注小饭桌</span>
                </div>
                <div class="focus-group">
                    <ul class="left-group">
                        <li class="zhihu"><a href="#" target="_blank">小饭桌创业课堂</a> </li>
                        <li class="weibo"><a href="#" target="_blank">小饭桌创业课堂</a> </li>
                        <li class="toutiao"><a href="#" target="_blank">小饭桌</a> </li>
                    </ul>
                    <div class="right-group">
                        <p class="desc">
                            扫码关注公众号66666666666
                        </p>
                    </div>
                </div>

            </div>
            <div class="hot-news-group">
                <div class="title-group">
                    <span class="title">热门推荐</span>
                </div>
                <ul class="hot-list-group">
                    <li>
                        <div class="left-group">
                            <p class="title">
                                <a>王健林卖掉海外进军首页项目的70亿...</a>
                            </p>
                            <p class="more">
                                <span class="category">深度报道</span>
                                <span class="time">一小时前</span>
                            </p>
                        </div>
                        <div class="right-group">
                            <a href="#"><img src="https://static-image.xfz.cn/1587720721_124.jpg-website.news.list"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="top-group">
        <div class="top-inner-group">
            <div class="logo-box"></div>
            <div class="detail-group">
                <div class="line1">
                    <ul class="links">
                        <li><a href="#">关于小饭桌</a></li>
                        <li><a href="#">创业课堂</a></li>
                        <li><a href="#">寻求报道</a></li>
                        <li><a href="#">创业礼包</a></li>
                    </ul>
                    <div class="about-us">
                        <span class="title">关于我们：</span>
                        <ul class="social-group">
                            <li class="weixin">
                                <div class="wx-qrcode"></div>
                                <span class="text">xfz008</span></li>
                            <li class="weibo"><span class="text">小饭桌创业课堂</span></li>
                        </ul>
                    </div>
                </div>
                <div class="line2">
                    <p class="address">地址：中华人民共和国666号</p>
                    <p class="contact">联系方式：40151515</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-group">
        @2018 xxxxx有限公司 京ICP备21421u4912u0号-1
    </div>
</footer>
</body>
</html>